<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smashaway.goldenwork.com.smashaway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingNIActivity"
            android:label="@string/title_activity_loading_ni"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadingCNActivity"
            android:label="@string/title_activity_loading_cn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadingOTPActivity"
            android:label="@string/title_activity_loading_otp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlertsActivity"
            android:label="@string/title_activity_alerts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommunityActivity"
            android:label="@string/title_activity_community"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InviteActivity"
            android:label="@string/title_activity_invite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PledgePoolActivity"
            android:label="@string/title_activity_pledge_pool"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CurrentProjectsActivity"
            android:label="@string/title_activity_current_projects"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>