<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smashaway.goldenwork.com.smashaway">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadingNIActivity"
            android:label="@string/title_activity_loading_ni"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadingCNActivity"
            android:label="@string/title_activity_loading_cn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoadingOTPActivity"
            android:label="@string/title_activity_loading_otp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlertsActivity"
            android:label="@string/title_activity_alerts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommunityActivity"
            android:label="@string/title_activity_community"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InviteActivity"
            android:label="@string/title_activity_invite"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PledgePoolActivity"
            android:label="@string/title_activity_pledge_pool"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CurrentProjectsActivity"
            android:label="@string/title_activity_current_projects"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SuggestionActivity"
            android:label="@string/title_activity_suggestion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PersonalPPActivity"
            android:label="@string/title_activity_personal_pp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CommunityQAActivity"
            android:label="@string/title_activity_community_qa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SmashProfitsActivity"
            android:label="@string/title_activity_smash_profits"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyDetailsActivity"
            android:label="@string/title_activity_my_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyDetailsProductActivity"
            android:label="@string/title_activity_my_details_product"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddRemoveCoverActivity"
            android:label="@string/title_activity_add_remove_cover"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrackMyClaimsActivity"
            android:label="@string/title_activity_track_my_claims"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyPoolClaimActivity"
            android:label="@string/title_activity_my_pool_claim"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddVehicleActivity"
            android:label="@string/title_activity_add_vehicle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddVehicleEndActivity"
            android:label="@string/title_activity_add_vehicle_end"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddVehicleAcceptActivity"
            android:label="@string/title_activity_add_vehicle_accept"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivatePolicyActivity"
            android:label="@string/title_activity_activate_policy"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitPledgeActivity"
            android:label="@string/title_activity_submit_pledge"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitClaimActivity"
            android:label="@string/title_activity_submit_claim"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ReportFraudsterActivity"
            android:label="@string/title_activity_report_fraudster"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendAmbulanceActivity"
            android:label="@string/title_activity_send_ambulance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitClaimFineActivity"
            android:label="@string/title_activity_submit_claim_fine"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SubmitClaimFine2Activity"
            android:label="@string/title_activity_submit_claim_fine2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AnonymousLeadActivity"
            android:label="@string/title_activity_anonymous_lead"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>